---
import { Icon } from "astro-icon";
import type { CompatibilityItem } from "~/types";

export interface Props {
  items: Array<CompatibilityItem>;
  title: string;
  url: string;
}

const { items, title, url } = Astro.props;
---

<div class="w-full max-w-6xl space-y-2">
  <div class="relative px-6 pt-8 pb-4 border bg-offset border-default">
    <h3
      class="absolute top-0 px-4 py-1 text-xs tracking-tight uppercase -translate-y-1/2 border border-current rounded-full right-4 bg-default"
    >
      {title}
    </h3>
    <ul class="grid grid-cols-2 gap-8 sm:grid-cols-3 md:grid-cols-6">
      {
        items.map((item) => (
          <li>
            <a class="flex flex-col items-center gap-2" href={item.url}>
              <Icon class="h-12" name={item.icon} />
              <span>{item.title}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <p class="text-sm text-right">
    <a class="text-primary" href={url}> ...and more &rarr;</a>
  </p>
</div>
