---
import { generateImage } from "astro-eleventy-img";
import { Icon } from "astro-icon";

const links = [
  {
    url: "https://astro.build/",
    description: "Astro's official website",
    icon: "mdi:home",
  },
  {
    url: "https://github.com/withastro/astro",
    description: "Astro on GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://astro.build/chat",
    description: "Astro on Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://twitter.com/astrodotbuild",
    description: "Astro on Twitter",
    icon: "fa-brands:twitter",
  },
];

const widths = [500, 1200];
const sizes = "100vw";

const { webp, avif, jpeg } = generateImage("src/assets/moon.jpg", {
  widths,
  formats: ["webp", "avif", "jpeg"],
  outputDir: "public/assets/images/footer",
  urlPath: "/assets/images/footer",
});

const avifSrcset = avif.map(({ srcset }) => srcset).join(",");
const webpSrcset = webp.map(({ srcset }) => srcset).join(",");
const jpegSrcset = jpeg.map(({ srcset }) => srcset).join(",");
---

<footer class="relative flex items-center justify-center h-64">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <picture>
      <source type="image/avif" srcset={avifSrcset} {sizes} />
      <source type="image/webp" srcset={webpSrcset} {sizes} />
      <source type="image/jpeg" srcset={jpegSrcset} {sizes} />
      <img
        class="object-cover w-full h-full"
        src={jpeg[1].url}
        alt="The ridged surface of the moon"
        width="1200"
        height="675"
      />
    </picture>
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {links.map((link) => (
      <li>
        <a
          class="flex items-center justify-center w-16 h-16 p-4 transition-colors duration-200 border-2 border-current rounded-full hover:text-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-transparent focus:ring-secondary"
          href={link.url}
        >
          <span class="sr-only">{link.description}</span>
          <Icon class="h-full" name={link.icon} />
        </a>
      </li>
    ))}
  </ul>
</footer>
